
<% if notice != nil %>
    <div class="alert alert-success" id="index_alert">
      <%= notice %>
    </div>
    <script type="text/javascript">
        $('#index_alert').fadeOut(3000)
    </script>
<% end %>

<% if current_user %>
    <%= render 'servers/admin_index' %>
<% else %>
    <%= render 'servers/public_index' %>
<% end %>





