<div class="container">
  <div class="accordion" id="accordion2">

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#server_detail">
          Server's details
        </a>
      </div>
      <div id="server_detail" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>In this page, it includes all details about the selected server as well as QR, which can print out and tag
            in
            server.
          </p>

          <p>
            Secondly, it also includes all the cables that are connecting to the selected server so that it is easily
            able
            to local the cable that you want.
          </p>

        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#add_edit_server">
          Add / Edit server
        </a>
      </div>
      <div id="add_edit_server" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            QR code is generating automatically once created and it cannot be edited, that's because QR code is unique
            and
            being used for identifying specified server
          </p>

          <p>
            CPU must be not less than 0
          </p>

          <p>
            RAM is Gb and must be multiples of 4
          </p>

          <p>
            Storage is GB and must be multiples of 64
          </p>

          <p>
            MAC must be hex and capital word
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#faq_search">
          Search
        </a>
      </div>
      <div id="faq_search" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>At this moment, this only offer approximate serach for server name and refine search for QR_code. </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#public_root">
          public / root
        </a>
      </div>
      <div id="public_root" class="accordion-body collapse">
        <div class="accordion-inner">
          <p> In public page, it can only browse servers and cables rather than doing any add / edit / delete
            operation </p>
        </div>
      </div>
    </div>

  </div>
</div>