// Place all the styles related to the servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/* header */
#logo {
  float: left;
  margin-right: 20px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#search {
  right: -60px;
}

/* body */
body {
  background-color: #ffffff;
  padding-top: 60px;
}

/* footer */
footer {
  margin-top: 200px;
  padding-top: 15px;
  border-top: 1px solid #dddddd;
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/*  cables color */
.label-important,
.badge-important {
  background-color: #bd362f;
}

.label-warning,
.badge-warning {
  background-color: #f8f406;
}

